[Desktop Entry]
Version=1.0
Name=Gsimplecal
Exec=gsimplecal
Icon=xfcalendar
StartupNotify=false
MimeType=text/calendar;
Terminal=false
Type=Application
Categories=Office;Calendar;GTK;
